/*
==========================================================
Geral
==========================================================
*/

@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&family=Mukta:wght@200;300;400;500;600;700;800&display=swap');


html {
    font-family: "Mukta", sans-serif;
    font-size: calc(15px + 0.390625vw);
    background-color: #2A2B5B;
    color: #E8D257;
    text-decoration: none;

}

p a {
    color: #E8D257;
    text-decoration: none;
}
nav a {
    color: #E8D257;
    text-decoration: none;
}

header nav ul li.atual p a {
    font-weight: bold;
    background-color: rgb(12, 16, 61);
    padding: 10px 20px 10px 20px;
    border-radius: 30px;
}

hr {
    margin: 3vw 0 3vw 0;
}

p {
    color: white;
}

section {
    margin: 2vw 3vw 2vw 3vw;
}

a {
    color: rgb(123, 213, 255);
    font-family: "Mukta", sans-serif;

}



h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Leckerli One", cursive;
}



/*
==========================================================
Cabeçalho
==========================================================
*/

body header {
    background:linear-gradient( #12122c ,#2A2B5B);
    padding: 4vw 1.2vw 4vw 1.2vw;
}
body header nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
header nav div.esquerda  {
    padding: 25px 0 0 0;
    margin: 0 1vw 0 1vw;
    display: flex;
    align-items: center;
}
header nav img {
    width: 40%;
    margin: 0 1vw 0 0;
    padding: 0 0 0 0;
}
header nav div.direita ul.nav {
    border:solid, 1.5px,  #5B5D96;
    padding: 5px 1.3vw 5px 1.3vw;
    border-radius: 100px;
    display: flex;
    justify-content: space-between;         
    align-items: center;
    margin-top: 2vw;
    gap: 30px;
    
}
header nav div.direita ul.nav li.atual {
    background-color: black;
    padding: 0.3vw 1vw 0.3vw 1vw;
    border-radius: 100px;
    display: block;
    font-weight: bold;
}

header nav div.esquerda  h1 {
    font-size: 2rem;
    font-weight: bold;
    margin: 0 1vw 0 1vw;
}


header nav div.direita svg.menu {
    height: 50px;
    display: none;
}

/*
==========================================================
Introdução
==========================================================
*/
section.introducao h2 {
    font-size: 1.4rem;
    font-weight: bold;
    margin: 1vw 3vw 1vw 3vw;
}

section.introducao p {
    margin: 1vw 1vw 1vw 1vw;
    color: #d9d1ff;
    font-size: 1.2rem;
}

/*
==========================================================
Conteúdo
==========================================================
*/
section.conteudo h2 {
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    margin: 2vw 0 2vw 0;
    color: #E8D257;
}

section.conteudo details {
    background-color: #5B5D96;
    padding: 3vw 5vw 3vw 5vw;
    border-radius: 10px;
}

section.conteudo details summary {
    color: #E8D257;
    font-size: 1.2rem;
    font-weight: bold;
}

section.conteudo details p {
    font-size: 1.3rem;
    margin: 2vw 3vw 1vw 3vw;
    color: #d9d1ff;
}

section.conteudo details a {
    color: #E8D257;
    margin: 2vw 0 1vw 0;
}

section.conteudo details img {
    width: 70%;
    margin: 1vw 1vw 1vw 1vw;
    border-radius: 10px;
}

/*
==========================================================
Comparação
==========================================================
*/
section.comparacao {
    text-align: center;
    margin: 2vw 0 2vw 0;
}

section.comparacao h2 {
    font-size: 1.5rem;
    margin: 3vw 0 1vw 0;
}

section.comparacao ul.externa {
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

section.comparacao ul li {
    background-color: #16173d;
    margin: 3vw 3vw 3vw 3vw;
    border-radius: 20px;

}

section.comparacao ul li.beneficios {
    padding: 2vw 0 2vw 0;
}

section.comparacao ul li ul.interna li {
    font-size: 1.3rem;
    font-weight: bold;
}

section.comparacao ul li.semSono {
    padding: 2vw 0 2vw 0;
}

section.comparacao ul li.beneficios h3 {
    color: #21ce21;
    font-weight: bold;
    font-size: 1.7rem;
    text-decoration: none;

}

section.comparacao ul li.semSono h3 {
    color: #ff0000;
    font-weight: bold;
    font-size: 1.7rem;
}

section.redirecionar h2 {
    font-size: 1.3rem;
}

section.redirecionar p {
    margin: 1vw 1vw 1vw 1vw;
}

section.redirecionar p a {
    color: #d9d1ff;
    margin: 1vw 1vw 1vw 1vw;
}

/*
=====================================================================
Conclusão
=====================================================================
*/


section.conclusao p {
    font-size: 1.2rem;
    margin: 1vw 2vw 1vw 2vw;
    font-weight: bold;
    color: #d9d1ff;
}



/*
===================================================
Footer
===================================================
*/

footer {
    margin: 10vw 0 0 0;
    background: linear-gradient(#2A2B5B, #12122c);
    /*bizarro*/
    padding: 3vw 7vw 3vw 7vw;
    align-items: center;
    color: aquamarine;
    font-size: 0.8rem;
}

footer a,
span {
    color: #E8D257;
}

footer nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    justify-content: space-between;
    align-items: center;
}

footer div.imagemFooter img {
    width: 40%;
}

footer div.links p {
    color: #C7BAFF;

}

footer nav ul li {
    width: 50%;
    display: flex;
    align-items: center;
    margin: 2vw 0 2vw 0;
    gap: 10px 20px;
}

footer nav ul li img {
    width: 5%;
    margin: 0 10px 0 10px;
    border-radius: 100px;
}



@media (max-width: 600px) {


        html {

        font-size: 1.4rem;
        }

    * hr {
        display: none;
    }

    p {
        font-size: 0.9rem;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: 1rem;
    }



    header nav {
        background: linear-gradient(#12122c, #2A2B5B);
        width: 100%;
        display: flex;

        flex-direction: column-reverse;

    }



    header nav div.direita ul.nav {
        display: block;
        border-radius: 0px;
        padding: 0 0 0 0;
        justify-content: center;
        align-items: center;
        background-color: #12122c00;
        height: 0px;
        transition: 0.6s height;
        overflow: hidden;
    }


   header nav ul li.atual p a {
        background-color: transparent;
        border-radius: 0%;
    }

    header nav a img {
        height: 150px;
        width: 140px;
        margin: 5vw 0 0 0;
        position: relative;
    }
    header nav div.direita ul li {
        margin: 10px 10px 10px 10px;
        background-color: #5b5d968a;
        border-radius: 10px;
        padding: 5px 10px 5px 10px;
        text-align: center;
        
    }

    header nav div.esquerda {
        margin: 1vw 2vw 0 2vw;
        flex-direction: column;
        align-items: center;
    }

    header nav div.direita svg.menu {
        display: block;
        width: 8vw;
        margin: 5vw;
    }

    header nav div.direita {
        overflow: auto;
    }

    header nav div.direita svg,
    header nav div.direita ul {
        float: left;
        clear: both;
    }

    header nav div.direita ul li p a {
        margin: 0 0px 0 30px;
    }

    header nav div.esquerda {
        margin: 1vw 2vw 0 2vw;
        justify-content: center;
        display: flex
    }

    header nav div.esquerda h1 {
        font-size: 2rem;
        margin-bottom: 10vw;
    }

    header nav div.esquerda h1 {
        font-size: 1.6rem;
        font-weight: bold;
    }

    section.comparacao ul.externa {
        display: block;
    }

    footer nav ul li img {
        display: none;
    }



    footer nav {
        display: block;
        margin: 0 auto;
    }

        footer nav ul {
            align-items: center;
            margin: 0 auto;
        }

        footer nav ul li {
            margin: 1vw 2vw 1vw 2vw;
        }

        footer ul li p {
            margin: 2vw 3vw 2vw 3vw;
            font-size: 1rem;
        }

        footer img {
            display: none;
        }
        footer div {
            margin: 2vw 0 1vw 0;
            padding: 0 auto 0 auto;
        }
}