/*
==========================================================
Geral
==========================================================
*/
@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&family=Mukta:wght@200;300;400;500;600;700;800&display=swap');


html {
  font-family: "Mukta", sans-serif;  
    font-size: calc(15px + 0.390625vw);
    background-color: #2A2B5B;
    color: white;
}
section {
    margin: 2vw 3vw 2vw 3vw;
}
a {
    color: #E8D257;
      font-family: "Mukta", sans-serif;  

}


h1, h2, h3, h4, h5, h6 {
      font-family: "Leckerli One", cursive;
}


/*
==========================================================
header
==========================================================
*/
header {
    background: url(../imagens/image\ 33.png);
    padding: 2vw 0 5vw 0;
    background-repeat: no-repeat;
    background-position: center;
}
header nav ul {
    display: flex;
}
header nav a img {
    width: 10%;
    height: auto;
    margin: 10px 10px 10px 10px;
    opacity: 0.67;
}

header h1 {
    text-align: center;
    font-size: 2rem;
    color: #E8D257;
    font-weight: bold;
    margin: 10px 0;
}

header nav div.direita svg.menu {
    height: 50px;
    display: none;
}



/*
==========================================================
main
==========================================================
*/
main {
    padding: 10px 40px 10px 40px;
    text-align: center;;
}
main p {
    margin: 10px 0;
    color: #C7BAFF ;
}
main p span {
    font-weight: bold;
    font-size: 1.3rem;
    margin: 1vw 0 2vw 0;
    color: #E8D257;

}

main ul li h3 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #E8D257;
}
main ul li {
    text-align: center;
    background-color: #16173d;
    padding: 3vw 1vw 3vw 1vw;
    margin: 5vw 5vw 5vw 5vw;
    border-radius: 45px;
}
main ul li img {
    width: 40%;
    border-radius: 20px;
    margin: 2vw 0 3vw 0;
}

section div.voltar p a svg {
    width: 50px;
    display: block;
    justify-content: left;
}



/*
===================================================
Footer
===================================================
*/

footer {
    margin: 10vw 0 0 0;
    background: linear-gradient(#2A2B5B, #12122c); /*bizarro*/
    padding: 3vw 7vw 3vw 7vw;
    align-items: center;
    color: aquamarine;
    font-size: 0.8rem;
}

footer a, span {
    color: #E8D257;
}

footer nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer div.imagemFooter img {
    width: 40%;
}

footer div.links p {
     color: #C7BAFF;

}

footer nav ul li {
    width: 50%;
    display: flex;
    align-items: center;
    margin: 2vw 0 2vw 0;
}

footer nav ul li img {
    width: 5%;
    margin: 0 10px 0 10px;
    border-radius: 100px;
}



@media (max-width: 600px) {


section.dicas div.voltar p a svg {
    width: 30px;
    margin: 0 auto;
    margin-top: 6vw;
}
section.dicas ul li {
    width: 100%;
    margin: 20px auto 20px auto;
    border-radius: 10px;
    padding: 10px 5px;
}
section.dicas ul li img {
    width: 80%;
}
header nav div.direita ul li {
        margin: 10px 10px 10px 10px;
        background-color: #5b5d968a;
        border-radius: 10px;
        padding: 5px 10px 5px 10px;
        text-align: center;
        
    }

}