/*
==========================================================
Geral
==========================================================
*/

@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

html {
    font-family: "Mukta", sans-serif;
    font-size: calc(15px + 0.390625vw);
    background-color: #2A2B5B;
    color: #E8D257;
}

p a {
    color: #E8D257;
    text-decoration: none;
}

p {
    color: #C7BAFF;
}

hr {
    margin: 3vw 0 3vw 0;
}

a {
    color: rgb(123, 213, 255);
    font-family: "Mukta", sans-serif;

}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Leckerli One", cursive;
}


/*
==========================================================
Cabeçalho
==========================================================
*/


body header {
        background:linear-gradient( #12122c ,#2A2B5B);
}


header nav div.direita ul.nav {
    background-color: #5B5D96;
    padding: 2vw 3vw 2vw 3vw;
    border-radius: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2vw;
}

header nav div.esquerda {
    padding: 25px 0 0 0;
    margin: 0 2vw 0 2vw;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

header nav div.esquerda h1 {
    font-size: 2rem;
    font-weight: bold;
}

header nav div.direita svg.menu {
    height: 50px;
    display: none;
}


header nav ul li.atual p a {
    font-weight: bold;
    background-color: rgb(12, 16, 61);
    padding: 10px 20px 10px 20px;
    border-radius: 30px;
}

/*
==========================================================
Introdução
==========================================================
*/

section.introducao {
    text-align: center;
    color: #C7BAFF;
}

section.introducao h2 {
    font-size: 2rem;
    font-weight: bold;
    margin: 1.5vw 0 5vw 0;
    color: #E8D257;
}

section.introducao p {
    font-size: 1.2rem;
    margin: 3vw 6vw 3vw 6vw;
}
section.introducao p.introducaoTexto {
    color: white;
    font-size: 2rem;
    font-weight: bold;
}

/*
==========================================================
Texto
==========================================================
*/
section h2 {
    font-size: 1.7rem;
    font-weight: bold;
    color: #E8D257;
    text-align: center;
    margin: 5vw 0 3vw 0;
    text-decoration: underline;
}

section h3 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #E8D257;
    text-align: center;
    margin: 5vw 0 3vw 0;
    text-decoration: underline;
}

section h4 {
    color: #E8D257;
    margin: 2vw 3vw 2vw 3vw;
    font-size: 1.2rem;
}

section p {
    font-size: 1.2rem;
    margin: 1vw 3vw 1vw 3vw;
    text-align: center;
    color: #C7BAFF;
}

section.texto p span {
    font-weight: bold;
}

section.texto img {
    width: 100%;
    border-radius: 20px;
}
section.anatomia h3 {
    font-size: 1.5rem;
    margin: 0 0 1vw 0;
}
section.anatomia h4 {
    font-size: 1.4rem;
}
section.anatomia p {
    font-size: 1.2rem;
    margin:  1vw 0 1vw 1vw; /*BRUTAL*/
    text-align: left;
}

section.anatomia img {
    width: 50%;
    border-radius: 20px;
    border: solid 10px black;
    
}

section.qualidadeSonoBrasil div ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
section.qualidadeSonoBrasil ul li ul  {
    display: block;
}
section.qualidadeSonoBrasil ul li ul li {
    margin: 0 0 0 0;
}
section.qualidadeSonoBrasil ul li ul li p {
    font-size: 1.5rem;
    text-decoration: underline;
    border: solid 1px #12122c;
    border-radius: 20px;
    padding: 5px 10px 5px 10px;
}
section.qualidadeSonoBrasil ul li h3 {
    font-size: 1.5rem;
    background-color: #2A2B5B;
    border-radius: 20px;
    padding: 10px 0px 10px 10px;
    margin: 0 2vw 0 2vw;
}

/*
==========================================================
Dados importantes (nome provisório)
==========================================================
*/

section.recursos h3 {
    text-align: left;
}
section.recursos p {
    text-align: left;
}
main section ul li {
    margin: 2vw 3vw 3vw 3vw;
    background: #5B5D96;
    padding: 20px 30px 30px 30px;
    border-radius: 62px;
}

main section ul li h3 {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0px 10px 20px 0px;
}


main section ul li p {
    color: #C7BAFF;
    font-weight: bold;
    margin: 1vw 0 1vw 0;
    font-size: 1.2rem;
}

main section ul li p a {
    color: #E8D257;
    text-decoration: underline;
}

section {
    margin: 2vw 3vw 2vw 3vw;
}

section ul li img {
    height: 100px;
    width: 100px;
}

/*
===================================================
Footer
===================================================
*/

footer {
    margin: 10vw 0 0 0;
    background: linear-gradient(#2A2B5B, #12122c); /*bizarro*/
    padding: 3vw 7vw 3vw 7vw;
    align-items: center;
    color: aquamarine;
    font-size: 0.8rem;
}

footer a, span {
    color: #E8D257;
}

footer nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer div.imagemFooter img {
    width: 40%;
}

footer div.links p {
     color: #C7BAFF;

}

footer nav ul li {
    width: 50%;
    display: flex;
    align-items: center;
    margin: 2vw 0 2vw 0;
}

footer nav ul li img {
    width: 5%;
    margin: 0 10px 0 10px;
    border-radius: 100px;
}


/*=================================================
                RESPONSIVIDE
==================================================*/

@media (max-width: 600px) {


 * hr {
        display: none;
    }

    p {
    
    }

    h1, h2, h3, h4, h5, h6 {
        font-size: 1.5rem;
    } 

    main section.dormirBem p {
            font-size: 1rem;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;
    }




    header nav {
        background: linear-gradient(#12122c, #2A2B5B);
        width: 100%;
        display: flex;

        flex-direction: column-reverse;

    }



    header nav div.direita ul.nav {
        display: block;
        border-radius: 0px;
        padding: 0 0 0 0;
        justify-content: center;
        align-items: center;
        background-color: #12122c00;
        height: 0px;
        transition: 0.6s height;
        overflow: hidden;
    }


   header nav ul li.atual p a {
        background-color: transparent;
        border-radius: 0%;
    }

    header nav a img {
        height: 150px;
        width: 140px;
        margin: 5vw 0 0 0;
        position: relative;
    }

    header nav div.esquerda {
        margin: 1vw 2vw 0 2vw;
        flex-direction: column;
        align-items: center;
    }

    header nav div.direita svg.menu {
        display: block;
        width: 8vw;
        margin: 5vw;
    }

    header nav div.direita {
        overflow: auto;
    }

    header nav div.direita svg,
    header nav div.direita ul {
        float: left;
        clear: both;
    }

    header nav div.direita ul li p a {
        margin: 0 0px 0 30px;
    }

    header nav div.esquerda {
        margin: 1vw 2vw 0 2vw;
        justify-content: center;
        display: flex
    }

    header nav div.esquerda h1 {
        font-size: 2rem;
        margin-bottom: 10vw;
    }

    header nav div.esquerda h1 {
        font-size: 1.6rem;
        font-weight: bold;
    }
    section.anatomia p {
           font-size: 1rem;
        max-width: 80%;
        
    }

    section.anatomia div.explicando {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 6vw;
    }

    section.anatomia div.explicando img {
        width: 250px;
        height: 150px;
    }

    section.anatomia div.outros{
        text-align: center;
    }

        section.anatomia div.outros h4, p {
            text-align: center;
        }
        

    section.recursos>ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    section.recursos>li {
        justify-content: center;
    }

    section.recursos ul li p {
        display: none;
    }

    section.recursos ul>li{
       align-items: center;
    }

    div#conteudoModal1 {
        position: absolute;
        top: 0;
        width: 100vw;
        height: 100vh;
        background: #00000081;
        display: none;
    }

    div#conteudoModal2{
        position: absolute;
        top: 0;
        width: 100vw;
        height: 100vh;
        background: #00000081;
        display: none;

    }

    div#conteudoModal3 {
        position: absolute;
        top: 0;
        width: 100vw;
        height: 100vh;
        background: #00000081;
        display: none;

    }

    div#conteudoModal4{
        position: absolute;
        top: 0;
        width: 100vw;
        height: 100vh;
        background: #00000081;
        display: none;

    }

    div#conteudoModal1 div {
        background-color: white;
        margin: 25vh 25vw;
    }


    div#conteudoModal2 div {
        background-color: white;
        margin: 25vh 25vw;
    }


    div#conteudoModal3 div {
        background-color: white;
        margin: 25vh 25vw;
    }


    div#conteudoModal4 div {
        background-color: white;
        margin: 25vh 25vw;
    }






}