/*
==========================================================
Geral
==========================================================
*/

@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&family=Mukta:wght@200;300;400;500;600;700;800&display=swap');


html {
    font-family: "Mukta", sans-serif;
    font-size: calc(15px + 0.390625vw);
    background-color: #2A2B5B;
    color: white;
}

section {
    margin: 2vw 3vw 2vw 3vw;
}

a {
    color: rgb(123, 213, 255);
    text-decoration: none;
    font-family: "Mukta", sans-serif;

}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Leckerli One", cursive;
}

/*
==========================================================
header
==========================================================
*/
header {
    background: url(../imagens/Higiene\ do\ Sono.png);
    padding: 2vw 0 5vw 0;
    background-repeat: no-repeat;
    background-position: center;
}

header nav ul {
    display: flex;
}

header nav a img {
    width: 10%;
    height: auto;
    margin: 10px 10px 10px 10px;
    opacity: 0.67;
}

header h1 {
    text-align: center;
    font-size: 2rem;
    color: #E8D257;
    font-weight: bold;
    margin: 10px 0;
}

/*
============================================================
Introdução
============================================================
*/
section.introducao {
    margin: 4vw 0 4vw 0;
    padding: 1vw 3vw 1vw 3vw;
}

section.introducao p.forte {
    font-size: 1.4rem;
    font-weight: bold;
    margin: 4vw 0 4vw 0;
    color: #E8D257;
}

section.introducao p {
    text-align: center;
    font-size: 1.2rem;
    margin: 1vw 3vw 1vv 3vw;
    color: #C7BAFF;

}

/*
=============================================================
Dicas
=============================================================
*/
section.rotina {
    padding: 1vw 10vw 1vw 10vw;
}

section.rotina ul div {
    display: flex;

}

section.rotina ul li {
    background-color: #16173d;
    padding: 2vw 3vw 2vw 3vw;
    text-align: center;
    border-radius: 20px;
    margin: 3vw 2vw 3vw 2vw;
}

section.rotina ul li h3 {
    font-size: 2rem;
    font-weight: bold;
    margin: 1vw 0 2vw 0;
    color: #E8D257;
}

section.rotina ul li p {
    font-size: 1.2rem;
    margin: 1vw 2vw 1vw 2vw;
    color: #C7BAFF;
}

section.rotina ul li p span {
    font-weight: bold;
    color: #E8D257;
}

section.rotina ul li img {
    width: 40%;
    border-radius: 30px;
    transition: transform 0.3s ease;

}

section.rotina ul li img:hover {
    transform: scale(1.1);
}


section.rotina ul div li img {
    width: 60%;
}



main p a svg {
    width: 50px;
}

/*
===================================================
Footer
===================================================
*/

footer {
    margin: 10vw 0 0 0;
    background: linear-gradient(#2A2B5B, #12122c);
    /*bizarro*/
    padding: 3vw 7vw 3vw 7vw;
    align-items: center;
    color: aquamarine;
    font-size: 0.8rem;
}

footer a,
span {
    color: #E8D257;
}

footer nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer div.imagemFooter img {
    width: 40%;
}

footer div.links p {
    color: #C7BAFF;

}

footer nav ul li {
    width: 50%;
    display: flex;
    align-items: center;
    margin: 2vw 0 2vw 0;
}

footer nav ul li img {
    width: 5%;
    margin: 0 10px 0 10px;
    border-radius: 100px;
}


@media (max-width: 600px) {



    section.rotina div.voltar p a svg {
        width: 30px;
        margin: 0 auto;
        margin-top: 6vw;
    }

    section.rotina ul li img {
        width: 80%;
    }

    header nav div.direita ul li {
        margin: 10px 10px 10px 10px;
        background-color: #5b5d968a;
        border-radius: 10px;
        padding: 5px 10px 5px 10px;
        text-align: center;

    }

    footer nav ul li img {
        display: none;
    }

}