/*
==========================================================
Geral
==========================================================
*/
@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

html {
  font-family: "Mukta", sans-serif;  
    font-size: calc(15px + 0.390625vw);
    background-color: #2A2B5B;
    color: #E8D257;
    
}
p a {
    color: #E8D257;
    text-decoration: none;
}
header nav ul li.atual p a {
    font-weight: bold;
    background-color: rgb(12, 16, 61);
    padding: 10px 20px 10px 20px;
    border-radius: 30px;
}
hr {
    margin: 3vw 0 3vw 0;
}
section {
    margin: 2vw 3vw 2vw 3vw;
}
a {
    color: rgb(123, 213, 255);
      font-family: "Mukta", sans-serif;  

}


h1, h2, h3, h4, h5, h6 {
      font-family: "Leckerli One", cursive;
}


/*
==========================================================
Cabeçalho
==========================================================
*/

body header {
        background:linear-gradient( #12122c ,#2A2B5B);
}

header nav div.direita ul.nav {
    background-color: #5B5D96;
    padding: 2vw 3vw 2vw 3vw;
    border-radius: 100px;
    display: flex;
    justify-content: space-between;         
    align-items: center;
    margin-top: 2vw;
}
header nav div.esquerda  {
    margin: 1vw 2vw 0 2vw;
    justify-content: space-between;
    display: flex;
    align-items: center;
}
header nav div.esquerda  h1 {
    font-size: 2rem;
    font-weight: bold;
}


header nav div.direita svg.menu {
    height: 50px;
    display: none;
}


/*
==================================================
Sobre o Projeto
==================================================
*/
section h2{
    text-align: center;
    font-size: 2rem;
    margin: 0 0 1vw 0;
}
section.projeto p {
    color: #C7BAFF;
}
section.projeto h3 {
    font-size: 1.5rem;
    text-align: center;
    margin: 4vw 0 1vw 0;
}
section.projeto ul li h4 {
    font-size: 1.2rem;
    margin: 2vw 3vw 1vw 3vw;
}
section.projeto ul li p {
    margin: 1vw 0 1vw 0;
    font-size: 1.1rem;
}
section.projeto ul li p span {
    font-weight: bold;
    color: #E8D257;
}

/*
==================================================
Sobre Nós
==================================================
*/
section.nos ul li {
    background-color: #16173d;
    text-align: center;
    padding: 3vw 2vw 3vw 2vw;
    margin: 4vw 3vw 4vw 3vw;
    border-radius: 30px;
}

section.nos ul li img {
    width: 50%;
    border-radius: 20px;
    margin: 1vw 0 2vw 0;
}
section.nos ul li h3 {
    font-size: 1.7rem;
    font-weight: bold;
    color: #E8D257;
    margin:  1vw 0 1vw 0;
}
section.nos ul li h4 {
    font-size: 1.3rem;
    margin: 0 0 1vw 0;
    color: #C7BAFF;
}
section.nos ul li details {
    color: #C7BAFF;
    font-size: 1.2rem;
    margin: 0 4vw 0 4vw;
}
section.nos > ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

/*
=================================
Referências
=================================
*/
section.referencias p {
    color: white;
    margin: 2vw 0 2vw 0;
}
section.referencias a {
    text-decoration: underline;
    color: rgb(155, 155, 255);
}

/*
===================================================
Footer
===================================================
*/

footer {
    margin: 10vw 0 0 0;
    background: linear-gradient(#2A2B5B, #12122c);
    padding: 3vw 7vw 3vw 7vw;
    align-items: center;
    color: aquamarine;
    font-size: 0.8rem;
}
footer nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer img {
    width: 40%;
}
footer nav ul li {
    display: flex;
    align-items: center;
    margin: 2vw 0 2vw 0;
}
footer nav ul li img{
    width: 5%;
    margin: 0 10px 0 10px;
    border-radius: 100px;
}

footer span {
    color: #E8D257;
}


@media (max-width: 600px) {



    * hr {
        display: none;
    }

    p {
        font-size: 0.9rem;
    }

    h1, h2, h3, h4, h5, h6 {
        font-size: 1rem;
    } 



    header nav {
        background: linear-gradient(#12122c, #2A2B5B);
        width: 100%;
        display: flex;

        flex-direction: column-reverse;

    }



    header nav div.direita ul.nav {
        display: block;
        border-radius: 0px;
        padding: 0 0 0 0;
        justify-content: center;
        align-items: center;
        background-color: #12122c00;
        height: 0px;
        transition: 0.6s height;
        overflow: hidden;
    }

   header nav ul li.atual p a {
        background-color: transparent;
        border-radius: 0%;
    }
    header nav a img {
        height: 150px;
        width: 140px;
        margin: 5vw 0 0 0;
        position: relative;
    }

    header nav div.esquerda {
        margin: 1vw 2vw 0 2vw;
        flex-direction: column;
        align-items: center;
    }

    header nav div.direita svg.menu {
        display: block;
        width: 8vw;
        margin: 5vw;
    }

    header nav div.direita {
        overflow: auto;
    }

    header nav div.direita svg,
    header nav div.direita ul {
        float: left;
        clear: both;
    }

    header nav div.direita ul li p a {
        margin: 0 0 0 30px;
    }

    header nav div.esquerda {
        margin: 1vw 2vw 0 2vw;
        justify-content: center;
        display: flex
    }

    header nav div.esquerda h1 {
        font-size: 2rem;
        margin-bottom: 10vw;
    }

    header nav div.esquerda h1 {
        font-size: 1.6rem;
        font-weight: bold;
    }

}