/*
==========================================================
Geral
==========================================================
*/

@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&family=Mukta:wght@200;300;400;500;600;700;800&display=swap');


html {
  font-family: "Mukta", sans-serif;  
    font-size: calc(15px + 0.390625vw);
    background-color: #2A2B5B;
    color: #E8D257;
    
}
p a {
    color: #E8D257;
    text-decoration: none;
}
header nav ul li.atual p a {
    font-weight: bold;
    background-color: rgb(12, 16, 61);
    padding: 10px 20px 10px 20px;
    border-radius: 30px;
}
hr {
    margin: 3vw 0 3vw 0;
}
section {
    margin: 3vw 3vw 3vw 3vw;
}
a {
    color: rgb(123, 213, 255);
      font-family: "Mukta", sans-serif;  

}


h1, h2, h3, h4, h5, h6 {
      font-family: "Leckerli One", cursive;

}


/*
==========================================================
Cabeçalho
==========================================================
*/

body header {
    background:linear-gradient( #12122c ,#2A2B5B);
}
header nav div.direita ul.nav {
    background-color: #5B5D96;
    padding: 2vw 3vw 2vw 3vw;
    border-radius: 100px;
    display: flex;
    justify-content: space-between;         
    align-items: center;
    margin-top: 2vw;
}
header nav div.esquerda  {
    padding: 25px 0 0 0;
    margin: 0 2vw 0 2vw;
    justify-content: space-between;
    display: flex;
    align-items: center;
}
header nav div.esquerda  h1 {
    font-size: 2rem;
    font-weight: bold;
}


header nav div.direita svg.menu {
    height: 50px;
    display: none;
}


/*
=============================================================
Serviços de Monitoramento
=============================================================
*/


section h2 {
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
}
section nav ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

section nav ul li  {
    width: 80%;
    background-color: #5B5D96;
    margin: 3vw 5vw 3vw 5vw;
    padding: 2vw 2vw 2vw 2vw;
    border-radius: 56px; 
    text-align: center;
}

section nav ul li  h3 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #E8D257;
    margin: 0 0 1vw 0;
}
section nav ul li img {
    width: 50%;
}
section nav ul li p {
    color: #C4B1FF;
    font-size: 1.3rem;
}
section nav ul {
    display: flex;
}

/*
=============================================================
Formulário
=============================================================
*/
section.formulario {
    background-color: #3f4074;
    border: 3px black ;
    border-radius: 20px;
    margin: 2vw 3vw 2vw 3vw;
    padding: 3vw 3vw 3vw 3vw;
}

section.formulario h3 {
    font-weight: bold;
    font-size: 1.3rem;
}
section.formulario div {
    display: flex;
    align-items: center;
}

section.formulario div img {
    width: 12%;
}
section.formulario form label {
    color: #D0A5F2;
    font-size: 1.3rem;
    font-weight: bold;
}
section.formulario form p {
    margin: 20px 10px 20px 10px;
}
section.formulario form p input {
    color: black;
    font-weight: bold;
    font-size: 1.1rem;
    border-radius: 200px;
    padding: 10px 10px 10px 10px;
    display: flex;
    flex-wrap: wrap;
    margin: 10px 10px 10px 10px;
}
section.formulario form p select {
    font-size: 1.1rem;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
}
section.formulario form p select option {
    font-size: 1.1rem;
    background-color: #12122c;
}
section.formulario form button {
    background-color: #5A5BA1;
    color: #C4B1FF;
    font-size: 1.1rem;
    border-radius: 20px;
    padding: 0.5vw 1.5vw 0.5vw 1.5vw;
    margin: 1vw 1vw 1vw 1vw;
}
section p span.spanForm {
    color: rgb(255, 238, 238);
    font-weight: bold;
    margin: 5px 0 5px 0;
}
/*
=============================================================
Calculadora de Sono
=============================================================
*/
section.calculadora {
    text-align: center;
}

section.calculadora div {
    background-color: #3f4074;
    border: solid, 3px, black ;
    border-radius: 20px;
    margin: 2vw 0 2vw 0;
    padding: 3vw 3vw 3vw 3vw;
}
section.calculadora h3 {
    font-weight: bold;
    font-size: 1.3rem;
}
section.calculadora div img {
    width: 12%;
}
section.calculadora form label {
    color: #D0A5F2;
    font-size: 1.3rem;
    font-weight: bold;
}
section.calculadora form p {
    margin: 20px 10px 20px 10px;
    
}
section.calculadora form p input {
    color: black;
    font-weight: bold;
    font-size: 1.1rem;
    border-radius: 200px;
    padding: 10px 10px 10px 10px;  
    margin: 20px 0 10px 0;
}
section.calculadora button {
    background-color: #5A5BA1;
    color: #D0A5F2;
    padding: 10px 30px 10px 30px;
    border-radius: 18px;
    font-size: 1.2rem;
    font-weight: bold;
}
section.calculadora div.resposta {
    background-color: #2A2B5B;
    display: none;
}


/*
===================================================
Footer
===================================================
*/

footer {
    margin: 10vw 0 0 0;
    background: linear-gradient(#2A2B5B, #12122c); /*bizarro*/
    padding: 3vw 7vw 3vw 7vw;
    align-items: center;
    color: aquamarine;
    font-size: 0.8rem;
}

footer a, span {
    color: #E8D257;
}

footer nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer div.imagemFooter img {
    width: 40%;
}

footer div.links p {
     color: #C7BAFF;

}

footer nav ul li {
    width: 50%;
    display: flex;
    align-items: center;
    margin: 2vw 0 2vw 0;
}

footer nav ul li img {
    width: 5%;
    margin: 0 10px 0 10px;
    border-radius: 100px;
}


@media (max-width: 600px) {



    * hr {
        display: none;
    }

    p {
        font-size: 1.1rem;
    }

    h1, h2, h3, h4, h5, h6 {
        font-size: 1rem;
    } 



    header nav {
        background: linear-gradient(#12122c, #2A2B5B);
        width: 100%;
        display: flex;

        flex-direction: column-reverse;

    }



    header nav div.direita ul.nav {
        display: block;
        border-radius: 0px;
        padding: 0 0 0 0;
        justify-content: center;
        align-items: center;
        background-color: #12122c00;
        height: 0px;
        transition: 0.6s height;
        overflow: hidden;
    }


   header nav ul li.atual p a {
        background-color: transparent;
        border-radius: 0%;
        margin: 10px 0 0 0;
    }

    
    header nav a img {
        height: 150px;
        width: 140px;
        margin: 5vw 0 0 0;
        position: relative;
    }

    header nav div.esquerda {
        margin: 1vw 2vw 0 2vw;
        flex-direction: column;
        align-items: center;
    }

    header nav div.direita svg.menu {
        display: block;
        width: 8vw;
        margin: 5vw;
    }

    header nav div.direita {
        overflow: auto;
    }

    header nav div.direita svg,
    header nav div.direita ul {
        float: left;
        clear: both;
    }

    header nav div.direita ul li p a {
        margin: 0 20px 0 30px;
    }

    header nav div.esquerda {
        margin: 1vw 2vw 0 2vw;
        justify-content: center;
        display: flex
    }

    header nav div.esquerda h1 {
        font-size: 2rem;
        margin-bottom: 10vw;
    }

    header nav div.esquerda h1 {
        font-size: 1.6rem;
        font-weight: bold;
    }

    /*serviçoss*/


section nav ul li  {
    background-color: #5B5D96;
    margin: 3vw 5vw 3vw 5vw;
    padding: 2vw 2vw 2vw 2vw;
    border-radius: 56px; 
}
section nav ul  {
    display: block;
}

section nav ul li  h3 {
    font-size: 1.3rem;
    font-weight: bold;
    color: #FFFFFF;
    margin: 0 0 1vw 0;
    text-align: center;
}
section nav ul li img {
    width: 60%;
}
section nav ul li p {
    display: none;
}
section nav ul {
    display: grid;
    grid-template-columns: 1fr 1fr; 
}
header nav div.direita ul li {
        margin: 10px 10px 10px 10px;
        background-color: #5b5d968a;
        border-radius: 10px;
        padding: 5px 10px 5px 10px;
        text-align: center;
        
    }

section nav ul li {
    width: 100px;
    margin: 0 auto;
    border-radius: 20px;
    text-align: center;
    margin-bottom: 5vw;
}

section nav ul li h3 {
    font-size: 1rem;
}

section nav ul li a img {
    width: 100px;
    margin: 0 auto;
}

section h2 {
    margin: 0 0 30px 0;
}

section.calculadora h3 {
     margin: 30px 0 30px 0;

}

section nav ul  {
    width: 100%;
    align-items: center;
}

section nav ul li {
    padding: 9vw 4vw 9vw 4vw;
}

section nav ul li h3{
    color: #E8D257;
}

section.calculadora div img {
    width: 50px;
}


}