/*
==========================================================
Geral
==========================================================
*/

@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&family=Mukta:wght@200;300;400;500;600;700;800&display=swap');


html {
    font-family: "Mukta", sans-serif;
    font-size: calc(15px + 0.390625vw);
    background-color: #2A2B5B;
    color: white;
    text-decoration: none;
}

p {
    font-size: 1.1rem;
    color: #C7BAFF;
}

section {
    margin: 2vw 3vw 2vw 3vw;
}

a {
    color: rgb(123, 213, 255);
    font-family: "Mukta", sans-serif;

}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Leckerli One", cursive;
    color: #E8D257;
}

/*
==========================================================
header
==========================================================
*/
header {
    background: url(../imagens/image\ 28.png);
    padding: 2vw 0 5vw 0;
    background-repeat: no-repeat;
    background-position: center;

}

header nav ul {
    display: flex;
}

header nav a img {
    width: 10%;
    height: auto;
    margin: 10px 10px 10px 10px;
    opacity: 0.67;
}

header h1 {
    text-align: center;
    font-size: 2rem;
    color: #ffffff;
    font-weight: bold;
    margin: 10px 0;
}

hr {
    margin: 2vw 5vw 2vw 5vw;
}

/*
=======================================================
Introdução
=======================================================
*/
section.introducao h2 {
    font-size: 2rem;
    font-weight: bold;
    margin: 2vw 3vw 2vw 3vw;
}

section.introducao p {
    font-size: 1.1rem;
    margin: 1vw 1vw 1vw 1vw;
}

/*
==========================================================
Conteúdo
==========================================================
*/
section.conteudo p {
    font-size: 1.2rem;
    margin: 1vw 2vw 1vw 2vw;
}

section.conteudo ul li {
    background-color: #5B5D96;
    padding: 1.5vw 3vw 1.5vw 3vw;
    border-radius: 40px;
    margin: 3vw 0 3vw 0;
}

section.conteudo ul {
    width: 70%;
    margin: 0 auto 0 auto;
}

section.conteudo ul li details summary {
    font-size: 1.5rem;
    font-weight: bold;
    color: #E8D257;
}

section.conteudo ul li details p {
    font-size: 1.3rem;
    color: #C7BAFF
}

    div.voltar p a svg {
        width: 50px;
        margin-top: 5vw;
    }

/*
===================================================
Footer
===================================================
*/

footer {
    margin: 10vw 0 0 0;
    background: linear-gradient(#2A2B5B, #12122c);
    /*bizarro*/
    padding: 3vw 7vw 3vw 7vw;
    align-items: center;
    color: aquamarine;
    font-size: 0.8rem;
}

footer a,
span {
    color: #E8D257;
}

footer nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    justify-content: space-between;
    align-items: center;
}

footer div.imagemFooter img {
    width: 40%;
}

footer div.links p {
    color: #C7BAFF;

}

footer nav ul li {
    width: 50%;
    display: flex;
    align-items: center;
    margin: 2vw 0 2vw 0;
    gap: 10px 20px;
}

footer nav ul li img {
    width: 5%;
    margin: 0 10px 0 10px;
    border-radius: 100px;
}



@media (max-width: 600px) {


        html {

        font-size: 1.4rem;
        }

    * hr {
        display: none;
    }

    p {
        font-size: 0.9rem;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: 1rem;
    }




    div.voltar p a svg {
        width: 30px;
        margin: 0 auto;
        margin-top: 6vw;
    }

    footer nav ul li img {
        display: none;
    }

    section.conteudo ul li {
        margin: 3vw 3vw 3vw 3vw;
    }


    footer nav {
        display: block;
        margin: 0 auto;
    }

        footer nav ul {
            align-items: center;
            margin: 0 auto;
        }

        footer nav ul li {
            margin: 1vw 2vw 1vw 2vw;
        }

        footer ul li p {
            margin: 2vw 3vw 2vw 3vw;
        }

        footer img {
            display: none;
        }
}