/*
==========================================================
Geral
==========================================================
*/

@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&family=Mukta:wght@200;300;400;500;600;700;800&display=swap');


html {
  font-family: "Mukta", sans-serif;  
    font-size: calc(15px + 0.390625vw);
    background-color: #2A2B5B;
    color: white;
}
p {
    font-size: 1.1rem;
}
section {
    margin: 2vw 3vw 2vw 3vw;
}
a {
    color: rgb(123, 213, 255);
      font-family: "Mukta", sans-serif;  

}


h1, h2, h3, h4, h5, h6 {
      font-family: "Leckerli One", cursive;
}

/*
==========================================================
header
==========================================================
*/
header {
    background: url(../imagens/image\ 28.png);
    
    padding: 2vw 0 5vw 0;
    background-repeat: no-repeat;
    background-position: center;
    
}
header nav ul {
    display: flex;
}
header nav a img {
    width: 10%;
    height: auto;
    margin: 10px 10px 10px 10px;
    opacity: 0.67;
}

header h1 {
    text-align: center;
    font-size: 2rem;
    color: #ffffff;
    font-weight: bold;
    margin: 10px 0;
}
hr {
    margin: 2vw 5vw 2vw 5vw;
}

/*
=======================================================
Introdução
=======================================================
*/
section.introducao h2{
    font-size: 1.5rem;
    font-weight: bold;
    margin: 2vw 3vw 2vw 3vw;
    text-decoration: underline;
}
section.introducao p {
    font-size: 1.1rem;
    margin: 1vw 1vw 1vw 1vw;
}

/*
==========================================================
Conteúdo
==========================================================
*/
section.conteudo p {
    font-size: 1.2rem;
    margin: 1vw 2vw 1vw 2vw;
}

section.conteudo ul li {
    background-color: #5B5D96;
    padding: 3vw 3vw 3vw 3vw;
    border-radius: 25px;
    margin: 3vw 0 3vw 0;
}



/*
===================================================
Footer
===================================================
*/

footer {
    margin: 10vw 0 0 0;
    background: linear-gradient(#2A2B5B, #12122c);
    padding: 3vw 7vw 3vw 7vw;
    align-items: center;
    color: aquamarine;
    font-size: 0.8rem;
}
footer nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer img {
    width: 40%;
}
footer nav ul li {
    display: flex;
    align-items: center;
    margin: 2vw 0 2vw 0;
}
footer nav ul li img{
    width: 5%;
    margin: 0 10px 0 10px;
    border-radius: 100px;
}

footer span {
    color: #E8D257;
}


@media (max-width: 600px) {



    * hr {
        display: none;
    }

    p {
        font-size: 0.9rem;
    }

    h1, h2, h3, h4, h5, h6 {
        font-size: 1rem;
    } 



    header nav {
        background: linear-gradient(#12122c, #2A2B5B);
        width: 100%;
        display: flex;

        flex-direction: column-reverse;

    }



    header nav div.direita ul.nav {
        display: block;
        border-radius: 0px;
        padding: 0 0 0 0;
        justify-content: center;
        align-items: center;
        background-color: #12122c00;
        height: 0px;
        transition: 0.6s height;
        overflow: hidden;
    }



    header nav ul li.atual p a {
        background-color: auto;
    }

    header nav a img {
        height: 150px;
        width: 140px;
        margin: 5vw 0 0 0;
        position: relative;
    }

    header nav div.esquerda {
        margin: 1vw 2vw 0 2vw;
        flex-direction: column;
        align-items: center;
    }

    header nav div.direita svg.menu {
        display: block;
        width: 8vw;
        margin: 5vw;
    }

    header nav div.direita {
        overflow: auto;
    }

    header nav div.direita svg,
    header nav div.direita ul {
        float: right;
        clear: both;
    }

    header nav div.direita ul li p a {
        margin: 0 20px 0 0;
    }

    header nav div.esquerda {
        margin: 1vw 2vw 0 2vw;
        justify-content: center;
        display: flex
    }

    header nav div.esquerda h1 {
        font-size: 2rem;
        margin-bottom: 10vw;
    }

    header nav div.esquerda h1 {
        font-size: 1.6rem;
        font-weight: bold;
    }

}