/*
==========================================================
Geral
==========================================================
*/

html {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: calc(15px + 0.390625vw);
    background-color: #2A2B5B;
    color: #E8D257;
    padding: 2vw 3vw 2vw 3vw;
}
p a {
    color: #E8D257;
    text-decoration: none;
}
header nav ul li.atual p a {
    font-weight: bold;
    background-color: rgb(12, 16, 61);
    padding: 10px 15px 10px 15px;
    border-radius: 30px;
}
hr {
    margin: 3vw 0 3vw 0;
}


/*
==========================================================
Cabeçalho
==========================================================
*/
header nav ul li {
    display: flex;
    align-items: center;
    margin: 0 10px 0 10px;
}
header nav  {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

body header nav ul li img {
    margin: 20px 3vw 20px 3vw;
    justify-content: center;
    width: 20%;
    
}
body header nav ul {
    display: flex;
}

body header nav ul li h1 {
    margin: 30px 0px 20px 0px;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    
}

/*
==========================================================
intermediário de Páginas
==========================================================
*/
section.indice {
    text-align: center;


}
section.indice h2 {
    font-size: 1.8rem;
    font-weight: bold;

}
section.indice p {
    font-size: 1.2rem;
    margin: 2vw 3vw 2vw 3vw;
}
