/*
=====================================================================
Geral
=====================================================================
*/

html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Times, serif;
    font-size: calc(15px + 0.390625vw);
    background-color: #2A2B5B ;
    color: #E8D257;
}
p a {
    color: #E8D257;
}
li.atual p a {
    font-weight: bold;
}

/*
==========================================================
Cabeçalho
==========================================================
*/
header nav ul li {
    display: flex;
    align-items: center;
}
header nav  {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

body header nav ul li img {
    margin: 20px 3vw 20px 3vw;
    justify-content: center;
    width: 20%;
    
}

body header nav ul li h1 {
    margin: 30px 0px 20px 0px;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    
}
