/*
==========================================================
Geral
==========================================================
*/

html {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: calc(15px + 0.390625vw);
    background-color: #2A2B5B;
    color: white;
}
p {
    font-size: 1.1rem;
}
section {
    margin: 2vw 3vw 2vw 3vw;
}
a {
    color: rgb(123, 213, 255);
}
/*
==========================================================
header
==========================================================
*/
header {
    background: url(../imagens/image\ 28.png);
    
    padding: 2vw 0 5vw 0;
    background-repeat: no-repeat;
    background-position: center;
    
}
header nav ul {
    display: flex;
}
header nav a img {
    width: 10%;
    height: auto;
    margin: 10px 10px 10px 10px;
    opacity: 0.67;
}

header h1 {
    text-align: center;
    font-size: 2rem;
    color: #ffffff;
    font-weight: bold;
    margin: 10px 0;
}
hr {
    margin: 2vw 5vw 2vw 5vw;
}

/*
=======================================================
Introdução
=======================================================
*/
section.introducao h2{
    font-size: 1.5rem;
    font-weight: bold;
    margin: 2vw 3vw 2vw 3vw;
    text-decoration: underline;
}
section.introducao p {
    font-size: 1.1rem;
    margin: 1vw 1vw 1vw 1vw;
}

/*
==========================================================
Conteúdo
==========================================================
*/
section.conteudo p {
    font-size: 1.2rem;
    margin: 1vw 2vw 1vw 2vw;
}

section.conteudo ul li {
    background-color: #5B5D96;
    padding: 3vw 3vw 3vw 3vw;
    border-radius: 25px;
    margin: 3vw 0 3vw 0;
}
section.conteudo ul li details {
    font-size: 1.3rem;
}



/*
===================================================
Footer
===================================================
*/

footer {
    margin: 10vw 0 0 0;
    background-color: black;  
    padding: 3vw 7vw 3vw 7vw;
    align-items: center;
    color: aquamarine;
    font-size: 0.8rem;
}
footer nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer img {
    width: 40%;
}
footer nav ul li {
    display: flex;
    align-items: center;
    margin: 2vw 0 2vw 0;
}
footer nav ul li img{
    width: 5%;
    margin: 0 10px 0 10px;
    border-radius: 100px;
}
