/*
===========================================================
Geral
===========================================================
*/

html {
    font-family: 'Times New Roman', Times, serif;
    font-size: calc(15px + 0.390625vw);
}


/*
============================================================
Cabeçalho
============================================================
*/

body header nav img {
    margin: 20px 3vw 20px 3vw;
    
}

body header nav h1 {
    margin: 30px 0px 20px 0px;
    text-align: center;
}