/*
==========================================================
Geral
==========================================================
*/

html {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: calc(15px + 0.390625vw);
    background-color: #2A2B5B;
    color: white;
    padding: 2vw 3vw 2vw 3vw;
}


/*
==========================================================
header
==========================================================
*/
header nav ul li {
    display: flex;
    align-items: center;
    margin: 0 10px 0 10px;
}
header nav  {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

body header nav ul li img {
    margin: 20px 3vw 20px 3vw;
    justify-content: center;
    width: 30%;
    
}
body header nav ul {
    display: flex;
}

body header nav ul li h1 {
    margin: 30px 0px 20px 0px;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    
}

/*
==========================================================
Qualidade de Sono
==========================================================
*/
main p span {
    font-weight: bold;
}


main section.qualidadeSono h1 {
    font-size: 5vw;
    text-align: center;
    color: white;
}

main section.qualidadeSono p {
    text-align: center;
    margin: 20px 20px 20px 20px;
}


main section.qualidadeSono ul li h2 {
    text-align: center;
    margin: 20px 20px 20px 20px;
    font-size: 1.7rem;
    font-weight: bold;
}
main section.qualidadeSono ul li {
    background-color: #36243F;
    padding: 20px 20px 20px 20px;
    border-radius: 35px;
    margin: 10px 10px 40px 10px;
    justify-content: space-between;
}
main section.qualidadeSono ul li img {
    width: 40dvi;
    height: 40dvi;
}